---
import { Image } from 'astro:assets';

import Planet from '../components/Planet.astro';
import Chips from '../components/Chips.astro';
import ButtonShare from '../components/ButtonShare.astro';
import Layout from '../layouts/Layout.astro';
import linkedinSVG from '../icons/linkedin.svg?raw';
import xSVG from '../icons/x.svg?raw';
import githubSVG from '../icons/github.svg?raw';
import mailSVG from '../icons/mail.svg?raw';
import externalLinkSVG from '../icons/external-link.svg?raw';
import imgProjectCovidSrc from '../images/covid.png';
import imgProfileSrc from '../images/profile.png';

import '../styles/root.css';

const projectAlanImage = 'https://raw.githubusercontent.com/haderman/alan-docs/main/screenshots/landing-hero.png';
---

<Layout title="Haderman - home">
  <header class="header-page">
    <!-- <nav>
      <a href="#" aria-disabled="true">🚧 Blog</a>
    </nav> -->
  </header>
  <main class="bento">
    <article data-area="profile" class="card special-border">
      <!-- <div class="background">
        <div class="circles"></div>
        <div class="overlay"></div>
      </div> -->
      <header>
        <Image src={imgProfileSrc} alt="profile picture" />
        <span>Hi, I'm Hader</span>
        <span>Frontend engineer</span>
      </header>
      <h1 class="text-gradient">Enthusiastic about technology</h1>
      <p>
        I am committed to continuous learning and embracing challenges,
        always with an eye on self-improvement and grateful for the journey.
      </p>
      <ButtonShare />
    </article>
    <article data-area="photo" class="card special-border">
      <Planet />
    </article>
    <article data-area="contact" class="card">
      <div class="contact-container special-border">
        <a href="https://x.com/haderman7" target="_blank" class="special-border">
          <Fragment set:html={xSVG} />
          <span>Twitter</span>
        </a>
        <a href="https://github.com/haderman" target="_blank" class="special-border">
          <Fragment set:html={githubSVG} />
          <span>Github</span>
        </a>
        <a href="mailto:cardona.hader@gmail.com" class="special-border">
          <Fragment set:html={mailSVG} />
          <span>Mail</span>
        </a>
        <a href="https://www.linkedin.com/in/hader-cardona/" class="special-border">
          <Fragment set:html={linkedinSVG} />
          <span>Linkedin</span>
        </a>
      </div>
    </article>
    <div class="divider" data-area="divider">
      <h2>Projects</h2>
    </div>
    <article data-area="project-alan" class="card special-border">
      <img src={projectAlanImage} alt="Project Alan" />
      <div>
        <h2 id="project-alan-heading">
          <a href="https://www.alanai.app/" target="_blank" aria-labelledby="project-alan-heading">
            <span>Alan AI Chat</span>
            <Fragment set:html={externalLinkSVG} />
          </a>
        </h2>
        <p>VSCode extension to create multiple AI chats</p>
        <Chips values={['React', 'Typescript', 'OpenAI API', 'NodeJS', 'Astro']} />
      </div>
    </article>
    <article data-area="project-covid" class="card special-border">
      <Image src={imgProjectCovidSrc} alt="Project Covid" />
      <div>
        <h2 id="project-covid-heading">
          <a href="https://covidx19.vercel.app/" target="_blank" aria-labelledby="project-covid-heading">
            <span>Covid 19 Tracker</span>
            <Fragment set:html={externalLinkSVG} />
          </a>
        </h2>
        <p>COVID-19 tracker with global statistics and visualizations</p>
        <Chips values={['React', 'Javascript', 'NextJS', 'Graphql']} />
      </div>
    </article>
  </main>
  <footer>

  </footer>
</Layout>

<style is:global>
  body {
    padding: var(--fluid-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fluid-4);

    @media screen and (min-width: 768px){
      padding: var(--fluid-0);
      gap: var(--fluid-2);
    }
  }

  .header-page {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    padding: var(--fluid-2) 0;

    /* display: none; */
  }

  main {
    width: 100%;
    max-width: 1200px;
  }

  .bento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--fluid-3);
    grid-template-areas:
      "profile profile"
      "contact contact"
      "divider divider"
      "project-alan project-alan"
      "project-covid project-covid";

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "profile profile profile photo"
        "profile profile profile contact"
        "divider divider divider divider"
        "project-alan project-alan project-covid project-covid";
    }
  }

  article {
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &[data-area="profile"] {
      grid-area: profile;
    }

    &[data-area="photo"] {
      grid-area: photo;
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    &[data-area="contact"] {
      grid-area: contact;
    }

    &[data-area="project-alan"] {
      grid-area: project-alan;
    }

    &[data-area="project-covid"] {
      grid-area: project-covid;
    }

    &[data-area="project-c"] {
      grid-area: project-c;
    }

    &[data-area="project-d"] {
      grid-area: project-d;
    }
  }

  .card {
    --rad: var(--fluid-1);

    display: flex;
    border-radius: var(--rad);
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
    }

    h1 {
      max-inline-size: 20ch;
    }

    &[data-area="profile"] {
      flex-direction: column;
      gap: var(--fluid-2);
      padding: var(--fluid-3);
      /* background-color: lch(4 1.5 210 / 0.7); */
      /* border: 1px solid lch(10 1.5 210); */

      & > * {
        z-index: 1;
      }

      .background {
        z-index: 0;
      }

      button {
        z-index: 1;
        position: absolute;
        top: var(--fluid-1);
        right: var(--fluid-1);
      }

      header {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
          "avatar name"
          "avatar job";
        column-gap: var(--fluid-0);
        row-gap: var(--fluid--4);
        align-items: center;

        img {
          --size: var(--fluid-4);
          grid-area: avatar;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
          /* filter: brightness(0.7); */
          /* outline: 2px solid lch(63 16.19 234.47); */
        }

        span:first-child {
          z-index: 1;
          grid-area: name;
          font-size: var(--fluid-1);
          font-weight: bold;
        }

        span:last-child {
          z-index: 1;
          grid-area: job;
          font-size: var(--fluid-0);
          font-weight: normal;
          color: lch(40 0 0);
        }
      }
    }

    &[data-area="photo"] {
      align-items: center;
      justify-content: center;
      /* border: 1px solid lch(20 0 0);
      background-color: lch(10 0 0); */
    }

    &[data-area="contact"] {
      container-type: inline-size;
      justify-content: space-between;
      overflow: unset;
    }

    &[data-area="project-alan"],
    &[data-area="project-covid"] {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        position: relative;
        padding: var(--fluid-1);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--fluid-0);
        padding-top: 0;
      }

      div::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        width: 100%;
        height: var(--fluid-4);
        background: linear-gradient(to top, lch(0 0 0 / 0.9 ) 0%, lch(0 0 0 / 0) 90%);
        z-index: 0;
      }

      h2 {
        a {
          position: relative;
          display: inline-flex;
          align-items: center;
          gap: var(--fluid--1);
        }
        svg {
          --size: var(--fluid-2);
          width: var(--size);
          height: var(--size);
        }
      }

      :where(h2, p) {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }

    &[data-area="project-alan"] {
      /* border: 1px solid lch(20 15 210); */
    }

    &[data-area="project-covid"] {
      /* border: 1px solid lch(20 0 210); */
    }
  }

  .contact-container {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    border-radius: inherit;

    a {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--fluid-0);
      padding: var(--fluid--2);
      border-radius: inherit;
      background-color: none;
      border: none;

      span {
        display: none;
      }

      :hover {
        box-shadow: 0 1px 0 0px var(--primary-text);
      }
    }
  }

  a {
    background-color: none;
    border: none;
  }

  @container (min-width: 210px) {
    .contact-container {
      gap: var(--fluid--2);
      display: flex;
      align-items: center;
      justify-content: center;
      background: unset;
      border: unset;

      a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background:
          linear-gradient(black, black) padding-box,
          linear-gradient(to right, lch(14 0 0), lch(24 0 0), lch(7 0 0)) border-box;
        border: 2px solid transparent;

        :hover {
          box-shadow: 0 1px 0 0px var(--primary-text);
        }
      }
    }
  }

  @container (min-width: 380px) {
    .contact-container {
      gap: var(--fluid--2);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: unset;

      a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--fluid--2);
        padding: var(--fluid--2);
        height: 100%;
        border-radius: var(--rad) var(--rad);

        span {
          display: block;
          text-align: center;
        }

        :hover {
          box-shadow: none;
        }
      }
    }
  }

  .divider {
    grid-area: divider;
    position: relative;
    padding-top: var(--fluid-1);
    padding-bottom: var(--fluid-1);
    display: flex;
    justify-content: center;

    h2 {
      display: inline-flex;
      position: relative;
      z-index: 1;
      padding: var(--fluid-0);
      font-size: var(--fluid-1);
      font-weight: 300;
      color: lch(40 0 0);
      background-color: var(--primary-color);
      border-radius: 16px;
      /* border: 1px solid lch(20 6 210); */
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: lch(15 2 210);
    }
  }

  .background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .circles {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lch(0 0 0 / 0.7);
    background-image:
      radial-gradient(circle at center center, lch(14 3.04 304.6), lch(5 2.22 217.82)),
      repeating-radial-gradient( circle at center center, lch(49 53.84 218.25), lch(22 0 0), 4px, transparent 20px, transparent 20px);
    background-blend-mode: multiply;
  }

  .card:hover .circles {
    background-image:
      radial-gradient(circle at center center, lch(35 53.04 304.6), lch(5 2.22 257.82)),
      repeating-radial-gradient(circle at center center, lch(49 53.84 258.25), lch(22 0 250), 4px, transparent 20px, transparent 20px);
  }

  .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.2); */
  }
</style>
